        {{ if .Params.chapter }}
            </div> <!-- end chapter-->
        {{ end }}
        </div>
        {{ partial "custom-comments.html" . }}
      </div>
    <div id="navigation">
        <!-- Next prev page -->
        {{ $currentNode := . }}

        {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}

        {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
                {{if hasPrefix $currentNode.RelPermalink .menu.RelPermalink }}
                    {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
                    {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
                {{else}}
                    {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
                        {{ $currentNode.Scratch.Set "NextPageOK" nil }}
                        {{ $currentNode.Scratch.Set "nextPage" .menu }}
                    {{end}}
                {{end}}
                {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

                    {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
                    {{ if .menu.IsHome}}
                        {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
                    {{ else if .menu.Sections}}
                        {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
                    {{end}}
                    {{ $pages := ($currentNode.Scratch.Get "pages") }}

                    {{ range $pages.ByWeight  }}
                        {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
                    {{end}}
            {{ end }}
        {{ end }}


	 {{$showPrevNext := (and (not .Params.disableNextPrev) (not .Site.Params.disableNextPrev))}}
	 {{if $showPrevNext}}
		{{with ($.Scratch.Get "prevPage")}}
			<a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
		{{end}}
		{{with ($.Scratch.Get "nextPage")}}
			<a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}" style="margin-right: 0px;"><i class="fa fa-chevron-right"></i></a>
		{{end}}
	{{end}}
    </div>
    <div id="disqus-wid">
      <h4>コメント欄</h4>
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSdsqojf86auy1ExzNh_GAZ-3TBcAFz7r4vJhL0dg8yvQbdrng/formResponse" target="hidden_iframe" method="post" id="comment-d3-form">
        <p><input name="entry.1708308159" placeholder="Name" value="Anonymous" required></p>
        <p><input name="entry.1734748431" placeholder="Mail address" type="email"></p>
        <p><textarea name="entry.1370807675" placeholder="comment" rows="3" cols="40" maxlength="400" id="commentTextArea" required></textarea></p>
        <p><textarea id="urlComment" name="entry.357172988" placeholder="PageUrl" rows="1" cols="200" maxlength="400" id="commentTextArea" required>{{ replace .Permalink "/" "##" }}</textarea></p>
        <input type="submit" id="submitbutton" value="送信">
        <p id="comment-notice">※コメントは承認後に表示されます</p>
        <p id="comment-complete-msg"></p>
        </form>
        <iframe onload='if(typeof submitted != "undefined" && submitted){window.location="";}' id=hidden_iframe name=hidden_iframe style=display:none></iframe>

        <script type="text/javascript">
        document.getElementById("comment-d3-form").addEventListener('submit', onSubmit);
        function onSubmit(e)
        {
                e.preventDefault();
                checkWrKEOAPDSSSDKVV();
                grecaptcha.ready(function()
                {
                  try {
                        grecaptcha.execute('6Ld06FMjAAAAAK6lrZ9zo1EgJ8X5cphZkZl_04Ax', {action: 'submit'}).then(function(token)
                        {
                                var recaptchaToken = document.getElementById('recaptchaToken');
                                recaptchaToken.value = token;
                                document.getElementById("comment-d3-form").submit();
                        });
                  } catch (err) {
                    console.error(err);
                  }
                  document.getElementById("comment-complete-msg").textContent = "コメントが送信されました！";
                });
        }

        function checkWrKEOAPDSSSDKVV() {
          document.getElementById("submitbutton").disabled = true;
          textareas = document.getElementsByTagName('textarea');
          for(var i=0 ;i < textareas.length ;i ++ ){
            textareas[i].value = textareas[i].value.replace( /</g ,'&lt;' );
          }
          inputs = document.getElementsByTagName('input');
          for(var i=0 ;i < inputs.length ;i ++ ){
            inputs[i].value = inputs[i].value.replace( /</g ,'&lt;' );
          }
          return submitted=!0;
        }
        </script>

        <div id="comment-area-ertj2jj">
          <script src="https://www.google.com/recaptcha/api.js?render=6Ld06FMjAAAAAK6lrZ9zo1EgJ8X5cphZkZl_04Ax"></script>
          <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
            <div id="comments-d3"></div>
            <script defer>
            d3.csv("https://docs.google.com/spreadsheets/d/1vmmRbGTEKaP09rrExKbLFXBnlhdWZHQmsLAz5wxnw-E/export?format=csv&range=A3:F", function(error, data){
              var text = "";
              for(var i=0; i<data.length; i++){
                if (data[i].BaseUrl == '{{ replace .Permalink "/" "##" }}' && data[i].Accepted == "y") {
                  text += "<div class='cmt'>"
                  text += "  <div class='cmt-header'>名前:" + data[i].Name + " (" + data[i].Timestamp + ")</div>";
                  text += "  <div class='cmt-text'><pre class='comment'>" + data[i].Comments + "</pre></div>";
                  text += "</div>"
                }
              }
              d3.select("#comments-d3").html(text);
            });
          </script>
        </div>
    </div>

    </section>

    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="{{"js/clipboard.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.jquery.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/jquery.sticky.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/highlight.pack.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{"js/modernizr.custom-3.6.0.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/learn.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/hugo-learn.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>
      function ChangeTheme(){
        let htmlTag = document.getElementsByTagName('html')[0];
        if(htmlTag.hasAttribute('theme')){
          htmlTag.removeAttribute('theme');
        }
        else {
          htmlTag.setAttribute('theme', 'darkmode');
        }
      }
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" }},
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        },
        "HTML-CSS": { matchFontHeight: false },
        displayAlign: "left",
        displayIndent: "2em"
      });
    </script>

    {{ if (or (and (ne .Params.disableMermaid nil) (not .Params.disableMermaid)) (not .Site.Params.disableMermaid)) }}
        {{ if isset .Params "custommermaidurl" }}
            <script defer src="{{ .Params.customMermaidURL }}"></script>
        {{ else if isset .Site.Params "custommermaidurl" }}
            <script defer src="{{ .Site.Params.customMermaidURL }}"></script>
        {{ else }}
            <script defer src="{{"mermaid/mermaid.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
        {{ end }}
        <script>
            //mermaid.initialize({ startOnLoad: true });
        </script>
    {{ end }}
    {{ partial "custom-footer.html" . }}
  </body>
</html>
